*{
    box-sizing: border-box;
}
body{
    background-color: lightblue;
}
/* ---------------- Navbar --------------------*/
.nav-item{
    background-color: rgba(255, 0, 0, 0.5)    
}
.nav-link{
    color: black;
    font-weight: 500;
    margin: 0 10px;
}
.nav-link:hover{
    color: white;
}
/* -------------- Home page buttons -----------*/
.home-btn{
    margin-top: 150px;
}
.btn-outline-info{
    width: 100px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
}
.btn-motors{
    border-radius: 20px 0 0 20px;
    color: white;
}
.btn-home{
    border-left: none;
    border-right: none;
    border-radius: 0;
    color: white;
}
.btn-pc{
    border-radius: 0 20px 20px 0;
    color: white;
}
/* -------------- Search bar ------------------*/
.search-bar{
    margin: 20px;
}
.search-outline{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}
#search{
    text-align: center;
    width: 450px;
    border-radius: 20px;
    padding: 5px;
    background-color: white;
    outline: none;
    font-weight: 600;
    font-size: 16px;
}
/* --------------- Carousel -------------------*/
.carousel{
    opacity: 0.9;
}
.carousel-item{
    width: 100%;
    max-width: 1500px;
    height: 400px;
    z-index: -1;
}
/* ----------------- Cards --------------------*/
.col-8,.col-sm-6,.col-md-4,.col-lg-3{
    padding:5px;
}
.card{
    border: 1px solid rgba(0, 0, 0, 0.33);
}
.card-img-top{
    border-bottom: 1px solid rgba(0, 0, 0, 0.33);
}
.card-body{
    padding: 0 5px 5px;
}
.card-title{
    margin: 5px;
}
.card-text{
    margin: 8px 5px;
}
/* ------------ Delete, Edit, See more buttons ------*/
.delete-btn{
    width: 150px;
    margin: 5px;
    background-color: rgba(255, 0, 0, 0.603);
}
.edit-btn{
    width: 150px;
    margin: 5px;
    background-color: rgba(0, 0, 255, 0.562);
}
.see-more{
    background-color: rgba(0, 128, 0, 0.5);
    margin: 5px;
    height: 35px;
    width: 90px;
    font-weight: 600;
    font-size: 14px;
}

@media only screen and (max-width: 575px) {
   .col-8,.col-sm-6,.col-md-4,.col-lg-3{
    margin:auto;
  }
}