*{
    box-sizing: border-box;
}
body{
    background: url(../images/background/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ---------- Google fonts -------------------*/

/* ---------------- Navbar --------------------*/
#nav, .nav{
    height: 80px;
    background-color: rgb(255, 200, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5); 
}
.nav{
    padding:1.5vh;
}
.nav-link{
    padding: 10px;
    height: 50px;
    color: rgba(0, 0, 0, 0.95);
    font-size: 20px;
    font-weight: 700;
    margin: 0 10px;
}
.nav-link:hover{
    border-radius: 20px;
    font-weight: 700;
    font-size: 21px;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
}
.nav-image{
    width: 45px;
    height: 35px;
}
/* -------------- Home page buttons -----------*/
.home-btn{
    margin-top: 200px;
    margin-bottom: 10px;
}
.btn-outline-warning{
    width: 100px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
}
.btn-motors{
    border-radius: 20px 0 0 20px;
    color: white;
}
.btn-home{
    border-left: none;
    border-right: none;
    border-radius: 0;
    color: white;
}
.btn-pc{
    border-radius: 0 20px 20px 0;
    color: white;
}
/* -------------- Search bar ------------------*/
.search-bar{
    margin: 25px;
}
.search-outline{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}
#search{
    text-align: center;
    width: 450px;
    border-radius: 20px;
    padding: 5px;
    background-color: white;
    outline: none;
    font-weight: 600;
    font-size: 16px;
}
/* --------------- Carousel -------------------*/
#carousel{
    opacity: 0.9;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5); 
}
.carousel-home{
    width: 100%;
    max-width: 1500px;
    height: 500px;
    z-index: -1;
}
/* -------------- Most viewed ad -------------*/
.top-ad-header{
    padding: 0.5vh;
    font-size: 4vh;
    font-weight: 600;
    color: black;
}
.top-ad-section{
    padding: 5px 15vw;
}
.most-viewed-ad{
    height: 350px;
}
.border-top-ad{
border: 3px solid rgba(0, 0, 0, 0.5);
border-radius: 20px;
}
.carousel-top-ad{
    height: 250px;
}
.carousel-top-ad-img{
    width: 100%;
    height: 250px;
    border-right: 1px solid black;
}
.carousel-caption{
margin: 0;
padding-bottom: 50px;
color: black;
text-align: center;
}
.top-ad-text{
    font-weight: 600;
    font-size: 18px;
}
.bg-color{
background-color: rgba(255, 255, 255, 0.75);
}
.no-margin{
margin:0;
}

/* ----------------- Cards --------------------*/
.col-8,.col-sm-6,.col-md-4,.col-lg-3{
    padding:0px;
}
.card{
    margin:5px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.33);
}
.no-padding{
    padding: 0;
}
.no-padding-right{
    padding-right: 0px
}
.no-padding-left{
    padding-left: 0px;
}
.margin-top{
    margin-top: 7px;
}
.card-body{
    padding: 0 5px 5px;
}
.card-title{
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    margin: 0 5px;
}
.card-text{
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    margin: 8px 5px;
}
.price{
    padding-left: 10px;
    font-size: 18px;

}
.location{
    font-size: 15px
}

/* ------------ Delete, Edit, Submit, Cancel buttons ------*/
.delete-btn{
    width: 100px;
    margin: 5px 0 5px auto;
    font-weight: 600;
    background-color: rgb(255, 38, 0);
}
.edit-btn{
    width: 100px;
    margin: 5px;
    font-weight: 600;
    background-color: rgba(0, 204, 255, 0.7);
}
.btn-submit{
    width: 150px;
    margin: 5px;
    font-weight: 600;
    background-color: rgba(0, 128, 0, 0.8)
}
.btn-cancel{
    width: 100px;
    margin: 5px 10px;
    background-color:yellow;
    font-weight: 600;
    text-decoration: none;
}
/* -------------Marketplace -------------------*/
.marketplace-form{
    margin: 50px auto;
}
.marketplace-btn{
padding: 5px 
}

/* ------------ Add advert ---------------------*/
.add-advert-page{
    height: 75vh;
    padding: 10vh;
}
.add-advert-form{
    margin: auto;
    max-width: 600px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.inputs{
    padding: 10px 0 5px;
}
.add-inputs{
    width: 80%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    outline: none;
    font-size: 17px;
    font-weight: 600;
    padding: 3px;
}
.text-right{
    font-weight: 600;
    font-size: 17px;
    padding: 10px 5px 5px;
}

/* --------------- View advert page -------------*/
.view-advert-form{
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.85);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px 20px 20px 20px;
}
.view-advert-page{
    padding: 0 5%;
}
.card-img-view{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.col-6{
    padding: 0;
}
.advert-name{
    font-weight: 600;
    font-size: 40px;
    padding: 20px 0px 10px 30px;
    letter-spacing: 2px;
}
.advert-price{
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 35px
}
.advert-location,.advert-contact{
    padding: 0 0 20px 30px;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}
.advert-description{
    border-top: 1px solid black;
    padding: 30px 0 30px 50px;
    font-weight: 500;
    font-size: 18px;
}
.advert-buttons{
    margin: auto;
}
/* ------------- Pagination --------------------*/
.page-item.active .page-link{
    background-color:red;
    border-color: rgb(255, 200, 0);
}
.page-item .page-link{
    background-color: rgb(255, 200, 0);
    border-color: red;
    color: black;
    font-weight: 600;
}
/* -------------- Footer ------------------------*/
#footer{
    height: 185px;
    padding: 2vh;
    background-color: rgb(255, 200, 0);
    border-top: 2px solid rgba(0, 0, 0, 0.5); 
}
.list-inline{
    display: inline-block;
}
.footer-icons{
    margin: 15px 5px 0;    
    font-size: 20px;
}
.footer-icon {
    width: 42px;
    height: 42px;    
    border-radius: 50%;
    padding:18px 0 14px;
    line-height: 7px;
    text-align: center;
    color: white;
    background-color: rgba(248, 130, 52, 0.9);
    transition: all 0.35s ease-in-out;
}
.footer-icon:hover{
    background-color: rgba(255, 64, 64, 0.9);
}
.vertical-align{
padding-top: 45px;
}
.vertical-align-center{
padding-top: 25px;
}

/* --- Modals --- */
.modal-body {
    text-align: center;
}
.modal-body > p {
    margin-bottom:  15px;
    font-size: 20px;
}
.modal-body > h2 {
    font-size: 50px;
    margin-top: 30px;
}
.modal-body > h4 {
    font-weight: 500;
}
.form-control{
margin: 8px 0;
}



/* --------- Media queries ---------------*/
@media only screen and (max-width: 575px) {
    .nav-link{
        font-size: 16px;
        margin: 5px;
        padding: 10px 5px 5px 5px;
    }
    .nav-link:hover{
        font-size: 17px;
        padding: 10px 5px 5px 5px;
    }
    .nav-image{
        width: 35px;
        height: 25px;
    }
    .btn-outline-warning{
        width: 85px;
    }
    .top-ad-name{
        font-size: 23px
    }
    .top-ad-text{
        font-size: 15px;
    }
   .col-8,.col-sm-6,.col-md-4,.col-lg-3{
    margin:auto;
  }
  #footer {
      height: 230px;
  }
  .vertical-align{
      padding-top: 20px
  }
  #search{
      width: 300px;
  }
  .card-img-view{
      max-height: 200px;
  }
}

@media only screen and (max-width: 992px) {
    .top-ad-section{
        padding: 5px 7.5vw;
    }
    .top-ad-header{
        padding-top: 20px;
    }
    .carousel-top-ad{
        max-height: 200px;
    }
    .carousel-top-ad-img{
        height: 200px;
    }
    .carousel-caption{
        padding-bottom: 25px;
    }
    .border-top-ad{
        margin-top: 30px;
    }
}

@media only screen and (min-width: 992px) {
    .advert-name{
        padding-top: 70px;
    }
}