{% extends 'base.html'%} {% block content %}
<h1>Page with Buying ads</h1>
<div class="row">
    <ul>
        {% for advert in adverts %}
        <li>
            <div>
                <div>
                    <strong>{{advert.advert_name}}</strong>
                </div>
            </div>
            <div>
                <p>
                {{advert.advert_description}} 
                </p>
            </div>
            <div>
				<p>
					{{advert.price}}
				</p>
			</div>
            <div>
				<p>
					{{advert.contact_info}}
				</p>
			</div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}