{% extends 'base.html'%} {% block content %}

<h3>Edit Advert page</h3>
<div class="add-advert-form">
	<form action="{{ url_for('update_advert', advert_id=advert._id) }}" method="POST" enctype="multipart/form-data">
		<div class="row">
			<div class="col-3 text-right">
				<label>Select category</label>
			</div>
			<div class="col-9 inputs">
				<select class="add-inputs" id="category" name="category_name">
                  {% for cat in categories %}
                      {% if cat.category_name == advert.category_name%}
                      <option value="{{advert.category_name}}" selected >{{advert.category_name}}</option>
                      {% else %}
                       <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                    {% endif %}
                  {% endfor %}
                    </select>
			</div>
		</div>
		<div class="row">
			<div class="col-3 text-right">
				<label for="advert_name">Name</label>
			</div>
			<div class="col-9 inputs">
				<input class="add-inputs" id="advert_name" name="advert_name" type="text" value="{{advert.advert_name}}" required>
                </div>
			</div>
			<div class="row">
				<div class="col-3 text-right">
					<label for="advert_description">Description</label>
				</div>
				<div class="col-9 inputs">
					<textarea class="add-inputs" name="advert_description" id="advert_description" value="{{advert.advert_description}}" required>{{advert.advert_description}}</textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-3 text-right">
					<label for="price">Price</label>
				</div>
				<div class="col-9 inputs">
					<input class="add-inputs" id="price" name="price" type="text" value="{{advert.price}}" required>
                </div>
				</div>
				<div class="row">
					<div class="col-3 text-right">
						<label>Contact info</label>
					</div>
					<div class="col-9 inputs">
						<input class="add-inputs" id="contact_info" name="contact_info"  value="{{advert.contact_info}}" required>
                    </div>
				</div>
                <div class="row" hidden>
					<div class="col-3 text-right">
						<label>View info</label>
					</div>
					<div class="col-9 inputs">
						<input class="add-inputs" id="views" name="views"  value="{{advert.views}}" required>
                    </div>
				</div>
					<div class="row">
						<div class="col-3 text-right">
                            <label>Location</label>
                        </div>
						<div class="col-9 inputs">
                            <select class="input-field add-inputs" id="location" name="location" required>
						            {% for county in counties %}
                                        {% if county.name == county.name%}
                                            <option value="{{county.name}}" selected >{{county.name}}</option>
                                        {% else %}
                                        <option value="{{county.name}}" required>{{county.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                            </select>
                        </div>
					</div>
						<div class="row">
							<div class="col-3 text-right">
                                <label for="advert_image">Upload image</label>
                            </div>
							<div class="col-9 inputs">
                                <input class="add-inputs" type="file" id="advert_image" name="advert_image" accept="image/*" value="{{advert.imageURL}}">
                            </div>
							</div>
							<div class="row">
								<div class="offset-4 col-8 inputs">
									<button class="btn edit-btn" type="submit" name="action">Edit Advert</button>
									<a href="{{url_for('view_advert', advert_id=advert._id)}}"
										class="btn btn-cancel">Cancel</a>
								</div>

							</div>

	</form>
</div>

{% endblock %}