{% extends 'base.html'%} {% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="d-none d-md-block col-md-1 no-padding">
			<img src="{{url_for('static', filename='images/background/side_ad.png')}}" width="100%" height="100%" alt="side-advert" data-toggle="modal" data-target="#contactModal" display>
		</div>
			<div class="offset-1 col-10 offset-md-0 col-md-10">
				<div class="add-advert-page">
					<h3 class="text-center edit-header"> - Edit advert -</h3>
					<div class="add-advert-form">
						<form action="{{ url_for('update_advert', advert_id=advert._id) }}" method="POST"
							enctype="multipart/form-data">
							<div class="row">
								<div class="offset-1 col-10 offset-md-0 col-md-4 text-md-right">
									<label>Select category <span class="red-star">*</span></label>
								</div>
								<div class="offset-2 col-10 offset-md-0 col-md-8 inputs">
									<select class="add-inputs" id="category" name="category_name">
                  {% for cat in categories %}
                      {% if cat.category_name == advert.category_name%}
                      <option value="{{advert.category_name}}" selected >{{advert.category_name}}</option>
                      {% else %}
                       <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                    {% endif %}
                  {% endfor %}
                    </select>
								</div>
							</div>
							<div class="row">
								<div class="offset-1 col-10 offset-md-0 col-md-4 text-md-right">
									<label for="advert_name">Name <span class="red-star">*</span></label>
								</div>
								<div class="offset-2 col-10 offset-md-0 col-md-8 inputs">
									<input class="add-inputs" id="advert_name" name="advert_name" type="text" value="{{advert.advert_name}}" required maxlength="9"/>
                </div>
								</div>
								<div class="row">
									<div class="offset-1 col-10 offset-md-0 col-md-4 text-md-right">
										<label for="advert_description">Description <span class="red-star">*</span></label>
									</div>
									<div class="offset-2 col-10 offset-md-0 col-md-8 inputs">
										<textarea class="add-inputs" name="advert_description" id="advert_description" value="{{advert.advert_description}}" required maxlength="200">{{advert.advert_description}}</textarea>
									</div>
								</div>
								<div class="row">
									<div class="offset-1 col-10 offset-md-0 col-md-4 text-md-right">
										<label for="price">Price <span class="red-star">*</span></label>
									</div>
									<div class="offset-2 col-10 offset-md-0 col-md-8 inputs">
										<input class="add-inputs" id="price" name="price" type="number" min="0" max="99999" value="{{advert.price}}" required>
                </div>
									</div>
									<div class="row">
										<div class="offset-1 col-10 offset-md-0 col-md-4 text-md-right">
											<label>Contact info <span class="red-star">*</span></label>
										</div>
										<div class="offset-2 col-10 offset-md-0 col-md-8 inputs">
											<input class="add-inputs" id="contact_info" name="contact_info"  value="{{advert.contact_info}}" maxlength="25" required>
                    </div>
										</div>
										<div class="row" hidden>
											<div class="offset-1 col-10 offset-md-0 col-md-4 text-md-right">
												<label>View info</label>
											</div>
											<div class="offset-2 col-10 offset-md-0 col-md-8 inputs">
												<input class="add-inputs" id="views" name="views"  value="{{advert.views}}" required>
                    </div>
											</div>
											<div class="row">
												<div class="offset-1 col-10 offset-md-0 col-md-4 text-md-right">
													<label>Location <span class="red-star">*</span></label>
												</div>
												<div class="offset-2 col-10 offset-md-0 col-md-8 inputs">
													<select class="input-field add-inputs" id="location" name="location" required>
						            {% for county in counties %}
                                        {% if county.name == advert.location %}
                                            <option value="{{advert.location}}" selected >{{advert.location}}</option>
                                        {% else %}
                                        <option value="{{county.name}}">{{county.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                            </select>
												</div>
											</div>
											<div class="row">
												<div class="offset-1 col-10 offset-md-0 col-md-4 text-md-right">
													<label for="advert_image">Upload image <span class="red-star">*</span></label>
												</div>
												<div class="offset-2 col-10 offset-md-0 col-md-8 inputs">
													<input class="add-inputs" type="file" id="advert_image" name="advert_image" accept="image/*" value="{{advert.imageURL}}">
                            </div>
												</div>
                                                <div class="row">
												<div class="offset-1 col-10 offset-md-0 col-md-4 text-md-right">
													<label>Access key<span class="red-star">*</span></label>
												</div>
												<div class="offset-2 col-10 offset-md-0 col-md-8 inputs">
                                                    <input class="add-inputs" id="access_key" name="access_key"  value="{{advert.key}}" minlength="4" maxlength="15" required>											
												</div>
                                                </div>
                                            <div class="row offset-md-1 justify-content-center submit-row">
												<button class="btn edit-btn" type="submit" name="action">Save</button>
											<a href="{{url_for('view_advert', advert_id=advert._id)}}"
													class="btn btn-cancel">Cancel</a>
                                            </div>
						</form>
</div>
					</div>

				</div>
				<div class="d-none d-md-block col-md-1 no-padding">
					<img src="{{url_for('static', filename='images/background/side_ad.png')}}" width="100%" height="100%" alt="side-advert" data-toggle="modal" data-target="#contactModal" display>
		</div>
				</div>
			</div>

			{% endblock %}