{% extends 'base.html'%} {% block content %}
<div class="container-fluid">
    <!-- Carousel with filter buttons and search bar -->
	<div id="carousel" class="row carousel slide" data-ride="carousel" data-pause="False" data-interval="10000">
		<div class="carousel-inner">
			<div class="carousel-item carousel-home active">
				<img src="{{url_for('static', filename='images/carousel/image-2.jpeg')}}" alt="Second slide">
            </div>
			<div class="carousel-item carousel-home">
				<img src="{{url_for('static', filename='images/carousel/image-3.jpeg')}}" alt="Third slide">
            </div>
            <!-- Filter by category -->
			<div class="home-btn d-flex justify-content-center">
				<a class="btn btn-outline-light btn-motors"	href="{{url_for('motors_and_vehicles')}}" data-toggle="tooltip" title="Motors and vehicles">Motors</a>
				<a class="btn btn-outline-light btn-home" href="{{url_for('home_garden_diy')}}" data-toggle="tooltip" title="Home, garden and DIY">Home</a>
				<a class="btn btn-outline-light btn-pc" href="{{url_for('electronics')}}" data-toggle="tooltip" title="Electronic, mobile and PC">Electronics</a>
			</div>
            <!-- Search bar and Open filters button -->
			<div class="search-bar d-flex justify-content-center">
				<div class="row search-outline search-outline-home">
					<form action="{{url_for('search')}}">
						<input id="search" name="search" type="text" class="validate home-search" placeholder="Search by name and press enter key" required>
                    </form>
                    <button id="more-filters" class="btn btn-outline-light open-filters text-center">Open filters</button>
				</div>
			</div>
            <!-- Div that opens by clicking on Open filters button -->
            <div class="row d-flex justify-content-center text-center">
                <form action="{{url_for('county_search')}}" method="POST" enctype="multipart/form-data">                    
                    <div class="search-filter">
                        <select class="input-field add-inputs search-filter-input" id="category" name="category_name" required>
                            <option value="" disabled selected>Choose category</option>
                            {% for cat in categories %}
                            <option value="{{cat.category_name}}" required>{{cat.category_name}}</option>
                            {% endfor %}
                        </select>                    
                        <select class="input-field add-inputs search-filter-input" id="county" name="county" required>
                            <option value="" disabled selected>Choose county</option>
                            {% for county in counties %}
                            <option value="{{county.name}}" required>{{county.name}}</option>
                            {% endfor %}
                        </select>
                        <div>
                            <button class="btn btn-outline-light btn-search open-filters btn-search" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
		</div>
	</div>
</div>
<div class="row no-margin most-viewed-ad">
    <!-- Advertising space -->
	<div class="d-none d-sm-block col-sm-1 no-padding" data-toggle="modal" data-target="#contactModal">
		<img src="{{url_for('static', filename='images/background/side_ad.png')}}" width="100%" height="100%" alt="side-advert" display>
	</div>
    <!-- Top 5 adverts section -->
	<div class="col-12 col-sm-10 top-ad-section">
		<p class="text-center top-ad-header">Top 5 Ads</p>
			<div id="carousel-top-ad" class="carousel slide" data-ride="carousel" data-interval="3000">
				<div class="border-top-ad carousel-inner">
					<div class="carousel-item carousel-top-ad active">
                        <a href="https://romangrubic.github.io/Roman-Grubic-portfolio/"	class="btn no-padding" target="-blank" >
								<img src="{{url_for('static', filename='images/background/bg-image.jpg')}}" class="carousel-top-ad-img" alt="...">                            
						    <div class="carousel-caption d-none d-md-block">
							    <h4 class="my-ad no-margin">Looking for a Full-stack Developer?</h4>
							    <p class="my-ad">Check out this portfolio!</p>
						    </div>
                        </a>
					</div>
					{% for top_ad in top_ads %}
						<div class="carousel-item carousel-top-ad">
							<div class="row no-padding no-margin bg-color">
								<div class="col-6">
									<a href="{{url_for('view_advert', advert_id=top_ad._id)}}" class="btn no-padding">
										<img src="{{url_for('file', filename=top_ad['imageURL'])}}" class="carousel-top-ad-img" alt="{{top_ad.advert_name}}">
                                    </a>
								</div>
								<div class="col-6">
									<a href="{{url_for('view_advert', advert_id=top_ad._id)}}" class="btn no-padding">
										<div class="carousel-caption">
											<h2 class="top-ad-name">{{top_ad.advert_name.capitalize()}}</h2>
											<span class="top-ad-text top-ad-text-price">€ {{top_ad.price}}<br></span>
											<span class="top-ad-text top-ad-text-location">{{top_ad.location}}<br></span>
											<span class="top-ad-text">
                                                <img src="{{url_for('static', filename='images/logo/view.png')}}" width="10px" height="10px" alt="Views"> {{top_ad.views}}
                                            </span>
										</div>
									</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
	</div>
    <!-- Advertising space -->
    <div class="d-none d-sm-block col-sm-1 no-padding"  data-toggle="modal" data-target="#contactModal">
	    <img src="{{url_for('static', filename='images/background/side_ad.png')}}" width="100%" height="100%" alt="side-advert" display>
    </div>
</div>
{% endblock %}