{% extends 'base.html'%} {% block content %}
<div>
	<form action="{{url_for('search')}}">
		<input id="search" name="search" type="text" class="validate" required>
    </form>
</div>
<h1>Page with Search</h1>
<div class="container">
	<div class="row">
		{% if results_number == 0 %}
		<h1>Page not found!</h1>
		<div class="row">
			<div class="col-12">
				<img src="#" alt="404">
                </div>
				<div class="row">
					<div class="col-12">
						<p>Something went wrong.
							<br>
                                     Click to go back to the main page</p>
							<a href="{{url_for('home')}}">Home</a>
					</div>
				</div>
			</div>
			{% else %}
			{% for result in results %}
			<div class="col-8 col-sm-6 col-md-4 col-lg-3">
				<div class="card">
					<img src="{{url_for('file', filename=result['imageURL'])}}" class="card-img-top" width="200px" height="200px" alt="{{result.advert_name}}">
					<div class="card-body">
						<h5 class="card-title">{{result.advert_name}} - € {{result.price}}</h5>
						<div class="row">
							<div class="col-6">
								<p class="card-text">{{result.location}}</p>
							</div>
							<div class="col-6">
								<a href="{{url_for('view_advert', advert_id=result._id)}}" class="btn see-more">View
									ad</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			{% endif %}

		</div>
	</div>
	{% endblock %}