{% extends 'base.html'%} {% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-1 no-padding">
			<img src="{{url_for('static', filename='images/background/side_ad.png')}}" width="100%" height="100%" alt="side-advert" display>
		</div>
			<div class="col-10">
<div class="search-bar d-flex justify-content-center">
	<div class="row search-outline">
		<form action="{{url_for('search')}}">
			<input id="search" name="search" type="text" class="validate" placeholder="Search by name" required>
                            </form>
	</div>
</div>
<h1>Results for search</h1>
<div class="container">
	<div class="row">
		{% if results_number == 0 %}
		<h1>Page not found!</h1>
		<div class="row">
			<div class="col-12">
				<img src="#" alt="404">
                </div>
				<div class="row">
					<div class="col-12">
						<p>Something went wrong.
							<br>
                                     Click to go back to the main page</p>
							<a href="{{url_for('home')}}">Home</a>
					</div>
				</div>
			</div>
			{% else %}
			{% for result in results %}
			<div class="col-8 col-sm-6 col-md-4 col-lg-3">
				<a href="{{url_for('view_advert', advert_id=result._id)}}" class="btn">
					<div class="card">
						<img src="{{url_for('file', filename=result['imageURL'])}}" class="card-img-top" width="200px" height="200px" alt="{{result.advert_name}}">
						<div class="card-body">
							<h5 class="card-title">{{result.advert_name.capitalize()}} - € {{result.price}}</h5>
							<div class="row">
								<div class="col-6">
									<p class="card-text">{{result.location}}</p>
								</div>
								<div class="col-6">

								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
			{% endif %}

		</div>
	</div>
    </div>
				<div class="col-1 no-padding">
					<img src="{{url_for('static', filename='images/background/side_ad.png')}}" width="100%" height="100%" alt="side-advert" display>
		</div>
				</div>
			</div>
	{% endblock %}