{% extends 'base.html'%} {% block content %}
<div class="container-fluid">
	<div class="row">
        <!-- Advertising space -->
		<div class="d-none d-md-block col-md-1 no-padding">
			<img src="{{url_for('static', filename='images/background/side_ad.png')}}" class="side-advert-size" alt="side-advert" data-toggle="modal" data-target="#contactModal">
		</div>
		<div class="offset-1 col-10 offset-md-0 col-md-10">
            <!-- Breadcrumbs -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{url_for('home')}}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{url_for('marketplace')}}">Marketplace</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ tittle }}</li>
                </ol>
            </nav>
            <!-- Filter by category -->
			<div class="d-flex justify-content-center">
				<a class="btn btn-outline-light btn-motors"	href="{{url_for('motors_and_vehicles')}}" data-toggle="tooltip" title="Filter by Motors and vehicles category!">Motors</a>
				<a class="btn btn-outline-light btn-home" href="{{url_for('home_garden_diy')}}" data-toggle="tooltip" title="Filter by Home, garden and DIY category!">Home</a>
				<a class="btn btn-outline-light btn-pc" href="{{url_for('electronics')}}" data-toggle="tooltip" title="Filter by Electronic, mobile and PC category!">Electronics</a>
			</div>
            <!-- Search bar and Open filters button -->
			<div class="search-bar d-flex justify-content-center">
				<div class="row search-outline search-outline-home">
					<form action="{{url_for('search')}}">
						<input id="search" name="search" type="text" class="validate home-search" placeholder="Search by keyword" data-toggle="tooltip" title="Search engine will look for your keyword in adverts description and then show it to you!">
                        <select class="btn btn-light search-filter-input" id="county" name="county">
                            <option value="" selected>Choose county</option>
                            {% for county in counties %}
                            <option value="{{county.name}}">{{county.name}}</option>
                            {% endfor %}
                        </select>
                        <button class="btn-outline-light btn-search open-filters" type="submit" data-toggle="tooltip" title="It will search for any combination. If both are empty, all adverts will be shown!">Search</button>
                    </form>
                    <div>
                    <button id="more-filters" class="btn btn-outline-light open-filters text-center" data-toggle="tooltip" title="Filter by Categories and by County!">Open filters</button>
                    </div>
                </div>
			</div>
            <!-- Div that opens by clicking on Open filters button -->
            <div class="row d-flex justify-content-center text-center">
                <form action="{{url_for('county_search')}}" method="POST" enctype="multipart/form-data">                    
                    <div class="search-filter">
                        <select class="input-field add-inputs search-filter-input" id="category" name="category_name" required>
                            <option value="" disabled selected>Choose category</option>
                            {% for cat in categories %}
                            <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                            {% endfor %}
                        </select>                    
                        <select class="input-field add-inputs search-filter-input" id="counti-selector" name="counti_list" required>
                            <option value="" disabled selected>Choose county</option>
                            {% for counti in counti_list %}
                            <option value="{{counti.name}}">{{counti.name}}</option>
                            {% endfor %}
                        </select>
                        <div>
                            <button class="btn btn-outline-light btn-search open-filters btn-search" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Method that takes RESULTS from the search bar and shows them to user -->
			<div class="marketplace-form">
				<div class="row">
                    <!-- If no advert match the description -->
					{% if results_number == 0 %}
						<div class="col-12 little-padding">
                            <div class="text-center page-404">
                                <h1>We couldn't find it!</h1>
                                <h3>We are sorry, but your search for <br> <span class="red-star search-result">{{ query }} {{ category }} {{ county }}</span> <br> did not have any results. <br><br> Error 404 - No results!</h3>
                                <a href="{{url_for('home')}}" class="btn btn-info">Go to Home page</a>
                            </div>
                        </div>								
					{% else %}
                    <!-- If there is a result, this will present it to user similar as in marketplace.html -->
					{% for result in results %}
						<div class="col-8 col-sm-6 col-md-4 col-lg-3">
							<div class="card" data-toggle="tooltip" title="Click to see full details.">
								<a href="{{url_for('view_advert', advert_id=result._id)}}" class="btn no-padding">
									<img src="{{url_for('file', filename=result['imageURL'])}}" class="card-img-top card-image-marketplace" alt="{{result.advert_name}}">
										<div class="card-body">
                                            <div class="row">
                                                <div class="col-9 no-padding-right">
											        <p class="card-title">{{result.advert_name.capitalize()}}</p> 
                                                </div>
                                                <div class="col-3 no-padding text-left">
											        <p class="margin-top">
                                                        <img src="{{url_for('static', filename='images/logo/view.png')}}" class="views-icon" alt="Views">  {{result.views}}
                                                    </p>
                                                </div>
										    </div>
											<div class="row">
												<div class="col-7 no-padding-right location">
													<p class="card-text">{{result.location}}</p>
												</div>
                                                <div class="col-5 no-padding">
                                                    <p class="card-text price">€ {{result.price}}</p>
												</div>												
											</div>
										</div>                                        
								</a>
							</div>
						</div>
					{% endfor %}
					{% endif %}
			    </div>
                <!-- Go to top button -->
                {% if results_number != 0 %}
                <div class="text-right">
                    <a class="btn btn-outline-light" href="#nav">Go to top</a>
                </div>
                {% endif %}
			</div>
            <!-- Pagination -->
            <div>
				<div class="card-sm">
					<ul class="pagination justify-content-center">
						{% if page > 1 %}
							<li class="page-item">
								<a class="page-link" href="{{url_for('marketplace', page=page-1)}}"	aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
						{% endif %}
						{% for pag in pages %}
							{% if pag == page %}
							<li class="page-item active" aria-current="page">
								<a class="page-link" href="#">{{ pag }}
                                    <span class="sr-only">(current)</span>
                                </a>
							</li> 
                            {% else %}
							<li class="page-item">
								<a class="page-link" href="{{url_for('marketplace', page=pag)}}">{{ pag }}</a>
							</li>
							{% endif %}
						{% endfor %}
						{% if page < total %}
							<li class="page-item">
								<a class="page-link" href="{{url_for('marketplace', page=page+1)}}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
        <!-- Advertising space -->
		<div class="d-none d-md-block col-md-1 no-padding">
			<img src="{{url_for('static', filename='images/background/side_ad.png')}}" class="side-advert-size" alt="side-advert" data-toggle="modal" data-target="#contactModal">
		</div>
	</div>
</div>
{% endblock %}