{% extends 'base.html'%} {% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="d-none d-md-block col-md-1 no-padding">
			<img src="{{url_for('static', filename='images/background/side_ad.png')}}" width="100%" height="100%" alt="side-advert" display>
		</div>
			<div class="offset-1 col-10 offset-md-0 col-md-10">
				<div class="view-advert-page">
					<div class="search-bar d-flex justify-content-center">
						<div class="row search-outline">
							<form action="{{url_for('search')}}">
								<input id="search" name="search" type="text" class="validate" placeholder="Search by name" required>
                            </form>
						</div>
					</div>
                    <div class="marketplace-btn d-flex justify-content-center">
						<a class="btn btn-outline-light btn-motors"
							href="{{url_for('motors_and_vehicles')}}">Motors</a>
						<a class="btn btn-outline-light btn-home" href="{{url_for('home_garden_diy')}}">Home</a>
						<a class="btn btn-outline-light btn-pc" href="{{url_for('electronics')}}">Electronics</a>
					</div>
					<div class="container view-advert-form">
						<div class="row">
							<div class="col-12 col-lg-7 no-padding">
								<img src="{{url_for('file', filename=advert['imageURL'])}}" height="400px" class="card-img-top card-img-view" alt="{{advert.advert_name}}">
		</div>
								<div class="col-12 col-lg-5 no-padding">
									<p class="advert-name no-margin">{{advert.advert_name.capitalize()}}</p>
									<p class="advert-price no-margin">€ {{advert.price}}</p>
									<p class="advert-location">Location: {{advert.location}}</p>
									<p class="advert-contact">Contact info: {{advert.contact_info}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-12 no-padding">
									<p class="advert-description">{{advert.advert_description}}</p>
								</div>
							</div>
						</div>
						<div class="row advert-buttons">
							<button type="button" class="btn delete-btn" data-toggle="modal" data-target="#deletemodal">Delete</button>
							<button type="button" class="btn edit-btn" data-toggle="modal" data-target="#editmodal">Edit</button>
						</div>

                        		</div>
						<!-- Delete Modal -->
						<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog"
							aria-labelledby="deletemodalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
										<div class="modal-body">
                                    <form action="{{url_for('delete_advert', advert_id=advert._id)}}" enctype="multipart/form-data" method="POST">
										<h3>Access key:</h3>
										<input class="add-inputs" id="access_key" name="access_key2" minlength="4" maxlength="15" required>
                                        <button type="submit" name="action" class="btn delete-btn">Delete</button>
                                    </form>
									</div>
							</div>
						</div>
                        
					</div>
                    <!-- Edit Modal -->
						<div class="modal fade" id="editmodal" tabindex="-1" role="dialog"
							aria-labelledby="editmodalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
										<div class="modal-body">
                                    <form action="{{url_for('edit_advert', advert_id=advert._id)}}" enctype="multipart/form-data" method="POST">
										<h3>Access key:</h3>
										<input class="add-inputs" id="access_key" name="access_key2" minlength="4" maxlength="15" required>
                                        <button type="submit" name="action" class="btn edit-btn">Edit</button>
                                    </form>
								</div>
							</div>
						</div>
                        
					</div>
				</div>
				<div class="d-none d-md-block col-md-1 no-padding">
					<img src="{{url_for('static', filename='images/background/side_ad.png')}}" width="100%" height="100%" alt="side-advert" display>
		</div>
				</div>
			</div>
			{% endblock %}